<html class='text-[62.5%] bg-[f1f1f2] scroll-smooth' lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <script
      defer
      src='https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js'
    ></script>
    {{#if isHomePage}}
      <script defer src='/js/main.js'></script>
      <script defer src='/js/auth.js'></script>
    {{/if}}
    {{#if isPetPage}}
      <script defer src='/js/pet.js'></script>
      <script defer src='/js/comment.js'></script>
    {{/if}}
    {{#if isUserPage}}
      <script defer src='/js/user.js'></script>
    {{/if}}
    {{#if isMessagesPage}}
      <script defer src='/js/message.js'></script>
    {{/if}}
    {{#if isSettingsPage}}
      <script defer src='/js/settings.js'></script>
    {{/if}}
    <link
      rel='shortcut icon'
      type='image/png'
      href='/images/favicon-32x32.png'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/output.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href='https://emoji-css.afeld.me/emoji.css' rel='stylesheet' />
    <title>Pet Locators</title>
  </head>

  <body class='font-sans font-light leading-relaxed mx-auto'>
    <header class='sticky top-0 w-[100%] z-40'>
      <div
        class='w-full text-gray-700 bg-white bg-opacity-80 dark-mode:text-gray-200 dark-mode:bg-red-800'
      >
        <div
          x-data='{ open: false }'
          class='flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8'
        >
          <div class='p-4 flex flex-row items-center justify-between'>
            <a href='/'><img
                class='w-[80px] sm:w-[100] md:w-[150px] p-2'
                src='/images/logo.png'
              /></a>
            <button
              class='md:hidden rounded-lg focus:outline-none focus:shadow-outline'
              @click='open = !open'
            >
              <svg fill='currentColor' viewBox='0 0 20 20' class='w-6 h-6'>
                <path
                  x-show='!open'
                  fill-rule='evenodd'
                  d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z'
                  clip-rule='evenodd'
                ></path>
                <path
                  x-show='open'
                  fill-rule='evenodd'
                  d='M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z'
                  clip-rule='evenodd'
                ></path>
              </svg>
            </button>
          </div>
          <nav
            :class="{'flex': open, 'hidden': !open}"
            class='flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row'
          >
            {{#if isLoggedIn}}
              <a
                class='px-4 py-2 mt-2 text-xl font-semibold text-gray-900 rounded-lg md:mt-0 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                href='/locator'
              >LOCATOR</a>
              <a
                class='px-4 py-2 mt-2 text-xl font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                href='/user'
              >MY PAGE</a>
              <a
                class='px-4 py-2 mt-2 text-xl font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                href='/messages'
              >MESSENGER</a>
              <a
                class='px-4 py-2 mt-2 text-xl font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                href='/contact'
              >CONTACT</a>
              <div
                @click.away='open = false'
                class='relative'
                x-data='{ open: false }'
              >
                <button
                  @click='open = !open'
                  class='flex flex-row items-center w-full px-4 py-2 mt-2 text-xl font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                >

                  <span>PROFILE</span>
                  <svg
                    fill='currentColor'
                    viewBox='0 0 20 20'
                    :class="{'rotate-180': open, 'rotate-0': !open}"
                    class='inline w-5 h-5 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1'
                  >
                    <path
                      fill-rule='evenodd'
                      d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
                      clip-rule='evenodd'
                    ></path>
                  </svg>
                </button>
                <div
                  x-show='open'
                  x-transition:enter='transition ease-out duration-300 transform'
                  x-transition:enter-start='opacity-0 scale-0'
                  x-transition:enter-end='opacity-100 scale-100'
                  x-transition:leave='transition ease-in duration-300 transform'
                  x-transition:leave-start='opacity-100 scale-100'
                  x-transition:leave-end='opacity-0 scale-0'
                  class='absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48'
                >
                  <div class='px-2 py-2 bg-white rounded-md shadow'>
                    <a
                      class='block px-4 py-2 mt-2 text-base font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                      href='/user'
                    >MY PAGE</a>
                    <a
                      class='block px-4 py-2 mt-2 text-base font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                      href='/settings'
                    >SETTINGS</a>
                    <form
                      class='text-center'
                      action='/user/logout'
                      method='POST'
                    >
                      <button
                        type='submit'
                        class='mx-auto text-center px-4 py-2 mt-2 text-base font-semibold bg-transparent rounded-lg md:mt-0 hover:text-gray-900 focus:text-gray-900 focus:outline-none focus:shadow-outline transition duration-300'
                      >
                        SIGN OUT
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            {{else}}
              <a
                class='btn__signup px-4 py-2 mt-2 text-xl font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-gray-900 hover:bg-red-400 focus:text-gray-900 focus:bg-red-400 focus:outline-none focus:shadow-outline transition duration-300'
                href=''
              >SIGN UP/LOGIN</a>
            {{/if}}
          </nav>
        </div>
      </div>
      <div class='login hidden'>
      </div>
    </header>
    {{{body}}}
    <footer class='h-auto bg-[424242] py-12 sm:py-20'>
      <div class='container mx-auto flex flex-col items-center'>
        <ul class='flex justify-center mb-10'>
          <li class='mr-6'>
            <a
              class='text-white text-[1rem] sm:text-[1.5rem] hover:text-red-500 transition-colors duration-300'
              href='#'
            >About</a>
          </li>
          <li class='mr-6'>
            <a
              class='text-white text-[1rem] sm:text-[1.5rem] hover:text-red-500 transition-colors duration-300'
              href='#'
            >Terms of Use</a>
          </li>
          <li class='mr-6'>
            <a
              class='text-white text-[1rem] sm:text-[1.5rem] hover:text-red-500 transition-colors duration-300'
              href='#'
            >Privacy Policy</a>
          </li>
          <li>
            <a
              class='text-white text-[1rem] sm:text-[1.5rem] hover:text-red-500 transition-colors duration-300'
              href='/contact'
            >Contact Us</a>
          </li>
        </ul>
        <img
          src='/images/logo-dark.png'
          class='w-[80px] sm:w-[100] md:w-[150px] p-2'
          alt='Logo'
        />
        <p class='text-white text-[1rem] sm:text-[1.5rem]'>©2023 All Rights
          Reserved</p>
        <p class='text-white text-[1rem] sm:text-[1.5rem]'>
          Made with
          <i
            class='em em-coffee'
            aria-role='presentation'
            aria-label='HOT BEVERAGE'
          ></i>
          &
          <i
            class='em em-heart'
            aria-role='presentation'
            aria-label='HEAVY BLACK HEART'
          ></i>
        </p>
        <p class='text-white text-[1rem] sm:text-[1.5rem]'>by Team Pet Locators</p>
      </div>
    </footer>

    <div
      id='modal__signup'
      class='hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[9999] bg-grey-lighter h-auto sm:min-h-screen flex flex-col'
    >
      <div
        class='max-w-lg mx-auto flex-1 flex flex-col items-center justify-center px-2'
      >
        <div
          class='bg-white px-6 py-2 sm:py-8 rounded shadow-md text-black w-full'
        >
          <h1 class='mb-2 sm:mb-8 text-3xl text-center'>Sign up</h1>
          <form id='form__signup'>
            <input
              type='text'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='username'
              placeholder='Username'
            />
            <input
              type='text'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='email'
              placeholder='Email'
            />
            <input
              type='password'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='password'
              placeholder='Password'
            />
            <input
              type='password'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='confirmPassword'
              placeholder='Confirm Password'
            />
            <label for='pronouns'>Choose your Pronouns:</label>
            <select
              required
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='pronouns'
              placeholder='Pronouns'
            >
              <option value='He/Him'>He/Him</option>
              <option value='She/Her'>She/Her</option>
              <option value='They/Them'>They/Them</option>
            </select>
            <input
              required
              type='text'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='city'
              placeholder='City'
            />
            <input
              required
              type='text'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='state'
              placeholder='State'
            />
            <p class='text-center text-red-800' id='message__signup'></p>
            <button
              type='submit'
              class='w-full text-center py-3 rounded bg-green-400 text-black hover:bg-green-dark focus:outline-none my-1'
            >Create Account</button>
          </form>
          <div class='text-center text-sm text-grey-dark mt-4'>
            By signing up, you agree to the
            <a
              class='no-underline border-b border-grey-dark text-grey-dark'
              href='#'
            >
              Terms of Service
            </a>
            and
            <a
              class='no-underline border-b border-grey-dark text-grey-dark'
              href='#'
            >
              Privacy Policy
            </a>
          </div>
        </div>
        <div class='text-black text-2xl mt-6'>
          Already have an account?
          <a
            id='link__login'
            class='font-extrabold text-black no-underline border-grey-dark text-grey-dark border-b text-2xl px-4 hover:text-blue-500'
            href=''
          >
            LOG IN
          </a>
        </div>

      </div>
    </div>
    <div
      id='modal__login'
      class='hidden fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-[9999] bg-grey-lighter h-auto sm:min-h-screen flex flex-col'
    >
      <div
        class='max-w-lg mx-auto flex-1 flex flex-col items-center justify-center px-2'
      >
        <div class='bg-white px-6 py-8 rounded shadow-md text-black w-full'>
          <h1 class='mb-8 text-3xl text-center'>Log in</h1>
          <form id='form__login'>
            <input
              type='text'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='email'
              placeholder='Email'
            />
            <input
              type='password'
              class='block border border-grey-light w-full p-3 rounded mb-4'
              name='password'
              placeholder='Password'
            />
            <p class='text-center text-red-800' id='message__login'></p>
            <button
              type='submit'
              class='w-full text-center py-3 rounded bg-green-400 text-black hover:bg-green-dark focus:outline-none my-1'
            >
              Log in
            </button>
          </form>
          <div class='text-center text-sm text-grey-dark mt-4'>
            By logging in, you agree to the
            <a
              class='no-underline border-b border-grey-dark text-grey-dark'
              href='#'
            >
              Terms of Service
            </a>
            and
            <a
              class='no-underline border-b border-grey-dark text-grey-dark'
              href='#'
            >
              Privacy Policy
            </a>
          </div>
        </div>
        <div class='text-black text-2xl mt-6'>
          Don't have an account?
          <a
            id='link__signup'
            class='font-extrabold text-black no-underline border-grey-dark text-grey-dark border-b text-2xl px-4 hover:text-blue-500'
            href=''
          >
            SIGN UP
          </a>.
        </div>

      </div>
    </div>
    <div
      id='overlay'
      class='hidden fixed w-[100%] h-[100%] bg-gray-200 bg-opacity-50 top-0 left-0 z-50 backdrop-blur-sm'
    ></div>
  </body>

</html>