<main class='w-[50%] h-[90vh] mx-auto py-8 px-4'>
  <h1 class='text-3xl font-semibold mb-6'>Sign Up</h1>
  <form action='/user/signup' method='POST' class='mb-6'>
    <label for='name' class='block'>Name:</label>
    <input
      type='text'
      id='name'
      name='name'
      required
      class='block border border-gray-300 px-4 py-2 rounded-md mb-2'
    />
    <label for='email' class='block'>Email:</label>
    <input
      type='email'
      id='email'
      name='email'
      required
      class='block border border-gray-300 px-4 py-2 rounded-md mb-2'
    />
    <label for='password' class='block'>Password:</label>
    <input
      type='password'
      id='password'
      name='password'
      required
      class='block border border-gray-300 px-4 py-2 rounded-md mb-2'
    />
    <button
      type='submit'
      class='bg-blue-500 text-white px-4 py-2 rounded-md'
    >Sign Up</button>
  </form>

  <h1 class='text-3xl font-semibold mb-6'>Login</h1>
  <form action='/user/login' method='POST' class='mb-6'>
    <label for='loginEmail' class='block'>Email:</label>
    <input
      type='email'
      id='loginEmail'
      name='email'
      required
      class='block border border-gray-300 px-4 py-2 rounded-md mb-2'
    />
    <label for='loginPassword' class='block'>Password:</label>
    <input
      type='password'
      id='loginPassword'
      name='password'
      required
      class='block border border-gray-300 px-4 py-2 rounded-md mb-2'
    />
    <button
      type='submit'
      class='bg-blue-500 text-white px-4 py-2 rounded-md'
    >Login</button>
  </form>
</main>