<h1>Models</h1>
<p>User: 1. one user has many pets</p>
<p>Pet: 1. many pets belong one user; 2. one pet has many pictures</p>
<p>Picture: 1. many pictures belong one pet; 2. one picture has many likes; 3. one
  picture has many comments</p>
<p>Like: 1. many likes belong one user; 2. many likes belong one picture</p>
<p>Comment: 1. many comments belong one user; 2. many comments belong one picture</p>

