<main>
  <section
    class='relative text-center pt-[20rem] w-[100vw] h-[100vh] xl:w-[90vw] xl:h-[75vh]'
  >
    <h1
      class='relative mx-auto mt-[-17.5rem] text-[5rem] lg:text-[7.5rem] xl:text-[10rem] font-bold max-w-[115rem] text-[424242] z-30'
    >
      Where your
      <span class='text-red-400'>pet</span>
      <br />
      makes
      <span class='text-red-400'>friends</span>..
    </h1>
    <h4 class='z-30 text-[1.5rem] xl:text-[2.5rem]'>a modern way to find your
      pet's playmate</h4>
    <img
      src='/images/dog-png-happy-puppy-0.png'
      class='w-[25rem] right-[13rem] sm:right-[20rem] md:right-[27rem] lg:right-[41rem] lg:w-[30rem] lg:bottom-[25rem] bottom-[40rem] xl:w-[50rem] absolute xl:bottom-0 right-0 xl:right-[2rem]'
      alt='happy dog'
    />
    <img
      src='/images/dog-11370.png'
      class='w-[15rem] right-[13rem] sm:right-[20rem] md:right-[27rem] lg:right-[41rem] lg:w-[18rem] lg:bottom-[25rem] bottom-[40rem] xl:w-[30rem] absolute right-0 xl:bottom-0 xl:right-[2rem]'
      alt='happy dog'
    />
    <img
      src='/images/5b8d339ba639e004e1cab52b.png'
      class='w-[15rem] right-[13rem] sm:right-[20rem] md:right-[27rem] lg:right-[41rem] bottom-[40rem] lg:bottom-[25rem] w-[5rem] xl:w-[10rem] absolute bottom-[20rem] right-0 xl:bottom-0 xl:right-[35rem]'
      alt='happy dog'
    />
    <button
      id='btn__learnMore'
      class='text-red-500 text-[2.5rem] font-bold absolute bottom-[20rem] xl:bottom-[0]'
    ><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span><span>learn more</span><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span><span class='inline-block animate-bounce'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          viewBox='0 0 20 20'
          fill='currentColor'
          class='w-6 h-6'
        >
          <path
            fill-rule='evenodd'
            d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z'
            clip-rule='evenodd'
          />
        </svg>
      </span>
    </button>

  </section>

  <section
    id='section__learnMore'
    class='px-[10rem] py-[10rem] transition-transform duration-1000'
  >
    <div class='max-w-[100rem] mx-auto my-[7.5rem]'>
      <h2 class='text-[3rem] text-red-400 font-bold mb-[2rem]'>Features</h2>
      <h3 class='text-6xl text-[424242]'>
        We have everything you need to find your pet's playmate!
      </h3>
    </div>

    <div class='xl:grid grid-cols-2 gap-16 mx-auto lg:w-[70vw] xl:w-[60vw]'>
      <img
        class='self-auto rounded-lg'
        src='/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        alt=''
      />
      <div class=''>
        <div class='flex justify-start items-center gap-6 pt-6'>
          <img class='w-[40px]' src='/images/Paw_Print.svg' alt='free' />
          <h5 class='text-4xl font-light'>There's no cost to start!</h5>
        </div>
        <p class='text-5xl font-extralight xl:leading-loose'>
          You can start finding your pet's playmate for free!
        </p>
      </div>

      <div class=''>
        <div class='flex justify-start items-center gap-6 pt-6'>
          <img class='w-[40px]' src='/images/Paw_Print.svg' />
          <h5 class='text-4xl font-light'>Unlimited Photo Storage</h5>
        </div>
        <p class='text-5xl font-extralight xl:leading-loose'>
          Your pictures are saved securely in our cloud storage.
        </p>
      </div>
      <img
        class='self-auto rounded-lg'
        src='/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        alt=''
      />

      <img
        class='self-auto rounded-lg'
        src='/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        alt=''
      />
      <div class=''>
        <div class='flex justify-start items-center gap-6 pt-6'>
          <img class='w-[40px]' src='/images/Paw_Print.svg' />
          <h5 class='text-4xl font-light'>Easily reach out to other users</h5>
        </div>
        <p class='text-5xl font-extralight xl:leading-loose'>
          Our profile page makes it easy to reach out to other users.
        </p>
      </div>
    </div>
  </section>

  <section
    class='section px-[10rem] py-[10rem] transition-transform duration-1000'
  >
    <div class='max-w-[100rem] mx-auto my-[7.5rem]'>
      <h2 class='text-[3rem] text-red-400 font-bold mb-[2rem]'>How It Works</h2>
      <h3 class='text-6xl text-[424242]'>
        Made it simple for you, so you can focus on your pet!
      </h3>
    </div>

    <div
      class='max-w-[120rem] h-[50rem] mt-12 mr-auto mb-0 ml-auto bg-white mx-auto shadow-lg rounded-lg'
    >
      <div id='tabContainer' class='flex justify-center ml-10'>
        <button
          id='btn__tab-01'
          data-tab='1'
          class='btn__tab btn__active text-[1.5rem] mr-[2.5rem] translate-y-[-50%] bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full'
        >
          <span class='mr-[1rem] font-bold'>01</span>
          Upload Pet's Pictures
        </button>
        <button
          id='btn__tab-02'
          data-tab='2'
          class='btn__tab text-[1.5rem] mr-[2.5rem] translate-y-[-50%] bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full'
        >
          <span class='mr-[1rem] font-bold'>02</span>
          See Pets' Pictures
        </button>
        <button
          id='btn__tab-03'
          data-tab='3'
          class='btn__tab text-[1.5rem] mr-[2.5rem] translate-y-[-50%] bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full'
        >
          <span class='mr-[1rem] font-bold'>03</span>
          Like and Comment
        </button>
        <button
          id='btn__tab-04'
          data-tab='4'
          class='btn__tab text-[1.5rem] mr-[2.5rem] translate-y-[-50%] bg-yellow-600 hover:bg-yellow-800 text-white font-bold py-2 px-4 rounded-full'
        >
          <span class='mr-[1rem] font-bold'>04</span>
          Set up a playdate
        </button>
      </div>
      <div id='tabContent__1' class='tabContent flex flex-col'>
        <div class='flex justify-center items-center ml-[-5rem]'>
          <div class='flex items-center justify-center h-[7rem] w-[7rem]'>
            <img class='w-[55px]' src='/images/upload.png' />
          </div>
          <h5 class='self-center text-[2.75rem] font-bold'>
            Upload your pet's pictures
          </h5>
        </div>
        <p
          class='self-center text-[1.75rem] font-light px-[10rem] py-[2.5rem] font-light'
        >
          Upload your pet's pictures to our gallery. Upload your pet's pictures
          to our gallery. Upload your pet's pictures to our gallery. Upload your
          pet's pictures to our gallery. Upload your pet's pictures to our
          gallery.Upload your pet's pictures to our gallery. Upload your pet's
          pictures to our gallery. Upload your pet's pictures to our gallery.
        </p>
      </div>
      <div id='tabContent__2' class='tabContent hidden flex flex-col'>
        <div class='flex justify-center items-center ml-[-5rem]'>
          <div class='flex items-center justify-center h-[7rem] w-[7rem]'>
            <img class='w-[55px]' src='/images/share.png' />
          </div>
          <h5 class='self-center text-[2.75rem] font-bold'>
            Share your pet-pictures with others
          </h5>
        </div>
        <p
          class='self-center text-[1.75rem] font-light px-[10rem] py-[2.5rem] font-light'
        >Check out pics!
        </p>
      </div>
      <div id='tabContent__3' class='tabContent hidden flex flex-col'>
        <div class='flex justify-center items-center ml-[-5rem]'>
          <div class='flex items-center justify-center h-[7rem] w-[7rem]'>
            <img class='w-[55px]' src='/images/likencomment.png' />
          </div>
          <h5 class='self-center text-[2.75rem] font-bold'>
            Like and comment on cute pets
          </h5>
        </div>
        <p
          class='self-center text-[1.75rem] font-light px-[10rem] py-[2.5rem] font-light'
        >Check out pics!
        </p>
      </div>
      <div id='tabContent__4' class='tabContent hidden flex flex-col'>
        <div class='flex justify-center items-center ml-[-5rem]'>
          <div class='flex items-center justify-center h-[7rem] w-[7rem]'>
            <img class='w-[55px]' src='/images/calendar.png' />
          </div>
          <h5 class='self-center text-[2.75rem] font-bold'>
            Set up a playdate with your pet's friends
          </h5>
        </div>
        <p
          class='self-center text-[1.75rem] font-light px-[10rem] py-[2.5rem] font-light'
        >Check out pics!
        </p>
      </div>
    </div>
  </section>

  <section
    class='section px-[10rem] py-[10rem] mb-[5rem] transition-transform duration-1000'
  >
    <div class='max-w-[100rem] mx-auto my-[7.5rem]'>
      <h2 class='text-[3rem] text-red-400 font-bold mb-[2rem]'>Not sure yet?</h2>
      <h3 class='text-6xl text-[424242]'>
        See our users and their testimonials!
      </h3>
    </div>
    <div
      class='relative max-w-[120rem] h-[55rem] mx-auto overflow-hidden bg-white shadow-lg rounded-lg'
    >
      <div
        class='slide slide__1 pb-[15rem] flex items-center justify-center absolute top-0 w-[100%] h-[50rem] transition-transform duration-1000'
      >
        <div class='relative w-[65%]'>
          <h5 class='text-[4rem] font-bold mb-[1.5rem]'>"My pet is very happy.."</h5>
          <p class='text-[1rem] mb-[3.5rem] text-[424242]'>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima deleniti
            optio ullam nesciunt, numquam corporis et asperiores laboriosam
            sunt, praesentium suscipit blanditiis. Necessitatibus id alias
            reiciendis, perferendis facere pariatur dolore veniam autem esse non
            voluptatem saepe provident nihil molestiae. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Accusantium quas quisquam non?
            Quas voluptate nulla minima deleniti optio ullam nesciunt, numquam
            corporis et asperiores laboriosam sunt, praesentium suscipit
            blanditiis. Necessitatibus id alias reiciendis, perferendis facere
            pariatur dolore veniam autem esse non voluptatem saepe provident
            nihil molestiae.
          </p>
          <address
            class='absolute grid grid-cols-1 gap-x-5 right-0 font-normal'
          >
            <img
              class='w-[10rem] rounded-full'
              src='/images/michael-dam-mEZ3PoFGs_k-unsplash.jpg'
              alt="testimonial author's photo"
            />
            <h6 class='text-[2rem] font-bold self-end m-0'>Emily Horshoe</h6>
            <p class='text-[1.5rem]'>Los Angeles, CA</p>
          </address>
        </div>
      </div>

      <div
        class='slide slide__2 pb-[15rem] flex items-center justify-center absolute top-0 w-[100%] h-[50rem] transition-transform duration-1000'
      >
        <div class='relative w-[65%]'>
          <h5 class='text-[4rem] font-bold mb-[1.5rem]'>"Nice pictures.."</h5>
          <p class='text-[1rem] mb-[3.5rem] text-[424242]'>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima deleniti
            optio ullam nesciunt, numquam corporis et asperiores laboriosam
            sunt, praesentium suscipit blanditiis. Necessitatibus id alias
            reiciendis, perferendis facere pariatur dolore veniam autem esse non
            voluptatem saepe provident nihil molestiae. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Accusantium quas quisquam non?
            Quas voluptate nulla minima deleniti optio ullam nesciunt, numquam
            corporis et asperiores laboriosam sunt, praesentium suscipit
            blanditiis. Necessitatibus id alias reiciendis, perferendis facere
            pariatur dolore veniam autem esse non voluptatem saepe provident
            nihil molestiae.
          </p>
          <address
            class='absolute grid grid-cols-1 gap-x-5 right-0 font-normal'
          >
            <img
              class='w-[10rem] rounded-full'
              src='/images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg'
              alt="testimonial author's photo"
            />
            <h6 class='text-[2rem] font-bold self-end m-0'>Chris Aquino</h6>
            <p class='text-[1.5rem]'>San Diego, CA</p>
          </address>
        </div>
      </div>

      <div
        class='slide slide__3 pb-[15rem] flex items-center justify-center absolute top-0 w-[100%] h-[50rem] transition-transform duration-1000'
      >
        <div class='relative w-[65%]'>
          <h5 class='text-[4rem] font-bold mb-[1.5rem]'>"Great website.."</h5>
          <p class='text-[1rem] mb-[3.5rem] text-[424242]'>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima deleniti
            optio ullam nesciunt, numquam corporis et asperiores laboriosam
            sunt, praesentium suscipit blanditiis. Necessitatibus id alias
            reiciendis, perferendis facere pariatur dolore veniam autem esse non
            voluptatem saepe provident nihil molestiae. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Accusantium quas quisquam non?
            Quas voluptate nulla minima deleniti optio ullam nesciunt, numquam
            corporis et asperiores laboriosam sunt, praesentium suscipit
            blanditiis. Necessitatibus id alias reiciendis, perferendis facere
            pariatur dolore veniam autem esse non voluptatem saepe provident
            nihil molestiae.
          </p>
          <address
            class='absolute grid grid-cols-1 gap-x-5 right-0 font-normal'
          >
            <img
              class='w-[10rem] rounded-full'
              src='/images/ayo-ogunseinde-sibVwORYqs0-unsplash.jpg'
              alt="testimonial author's photo"
            />
            <h6 class='text-[2rem] font-bold self-end m-0'>Ken Kim</h6>
            <p class='text-[1.5rem]'>San Francisco, CA</p>
          </address>
        </div>
      </div>
      <button
        id='btn__left'
        class='w-[6rem] h-[6rem] text-[4rem] bg-gray text-[424242] absolute top-[40%] left-[6%] z-30 rounded-[50%]'
      >&larr;</button>
      <button
        id='btn__right'
        class='w-[6rem] h-[6rem] text-[4rem] bg-gray text-[424242] absolute top-[40%] right-[6%] z-30 rounded-[50%]'
      >&rarr;</button>
    </div>
  </section>
  <section
    class='section text-center px-[10rem] py-[10rem] bg-[424242] bt-0 transition-transform duration-1000'
  >
    <div class='mb-[6rem]'>
      <h3 class='text-[4.75rem] text-white font-bold'>
        Ready to find your pet's playmate?
      </h3>
    </div>
    {{#if isLoggedIn}}
      <button
        id=''
        class='relative overflow-hidden group text-6xl text-white font-extrabold px-8 py-20 bg-red-500 rounded-full'
      >
        You're logged in, enjoy our great features!
        <span
          class='absolute inset-0 bg-white opacity-[10%] transition-transform duration-300 transform scale-x-0 group-hover:scale-x-100'
        ></span>
      </button>
    {{else}}
      <button
        class='btn__signup relative overflow-hidden group text-6xl text-white font-extrabold px-8 py-20 bg-red-500 rounded-full'
      >
        Sign up for your free account today!
        <span
          class='absolute inset-0 bg-white opacity-[10%] transition-transform duration-300 transform scale-x-0 group-hover:scale-x-100'
        ></span>
      </button>
    {{/if}}

  </section>
</main>