<main>
  <div class='flex-1 justify-center items-start'>
    <h1 class='text-4xl font-bold'>where your pet finds the best friend</h1>
    <h4>A modern way to find your pet's playmate</h4>
    <img
      src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
      class='w-[400px]'
      alt='Hero Image'
    />
    <button class=''>Learn more &DownArrow;</button>
  </div>

  <section class=''>
    <div class='border-t-2'>
      <h2 class='text-2xl'>Features</h2>
      <h3 class='text-4xl'>
        Share your pet's pictures with others!
      </h3>
    </div>

    <div class=''>
      <img
        src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        class='w-[400px]'
        alt='Hero Image'
      />
      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>100% FREE!</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde alias
          sint quos? Accusantium a fugiat porro reiciendis saepe quibusdam
          debitis ducimus.
        </p>
      </div>

      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>Watch your pet smile!</h5>
        <p>
          Nesciunt quos autem dolorum voluptates cum dolores dicta fuga
          inventore ab? Nulla incidunt eius numquam sequi iste pariatur
          quibusdam!
        </p>
      </div>
      <img
        src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        class='w-[400px]'
        alt='Hero Image'
      />

      <img
        src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
        class='w-[400px]'
        alt='Hero Image'
      />
      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>Friends forever!</h5>
        <p>
          Quasi, fugit in cumque cupiditate reprehenderit debitis animi enim
          eveniet consequatur odit quam quos possimus assumenda dicta fuga
          inventore ab.
        </p>
      </div>
    </div>
  </section>

  <section class=''>
    <div class=''>
      <h2 class=''>Feature</h2>
      <h3 class=''>
        Whatever feature here!
      </h3>
    </div>

    <div class=''>
      <div class=''>
        <button class=''>
          Button here!
        </button>
        <button class=''>
          Button here!
        </button>
        <button class=''>
          Button here!
        </button>
      </div>
      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>
          Whatever title statement here!
        </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>

      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>
          Your pet's going to be happy!
        </h5>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
      <div class=''>
        <div class=''>
          <svg>
            <use xlink:href=''></use>
          </svg>
        </div>
        <h5 class=''>
          Find your pet a friend anywhere!
        </h5>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
          officia deserunt mollit anim id est laborum. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
    </div>
  </section>

  <section class=''>
    <div class=''>
      <h2 class=''>Not sure yet?</h2>
      <h3 class=''>
        Checkout testimonials!
      </h3>
    </div>

    <div class=''>
      <div class=''>
        <div class=''>
          <h5 class=''>Testimonial</h5>
          <blockquote class=''>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Accusantium quas quisquam non? Quas voluptate nulla minima deleniti
            optio ullam nesciunt, numquam corporis et asperiores laboriosam
            sunt, praesentium suscipit blanditiis. Necessitatibus id alias
            reiciendis, perferendis facere pariatur dolore veniam autem esse non
            voluptatem saepe provident nihil molestiae.
          </blockquote>
          <address class=''>
            <img
              src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
              class='w-[400px]'
              alt='Hero Image'
            />
            <h6 class=''></h6>
            <p class=''>California!</p>
          </address>
        </div>
      </div>

      <div class=''>
        <div class=''>
          <h5 class=''>
            Testimonial
          </h5>
          <blockquote class=''>
            Quisquam itaque deserunt ullam, quia ea repellendus provident,
            ducimus neque ipsam modi voluptatibus doloremque, corrupti laborum.
            Incidunt numquam perferendis veritatis neque repellendus. Lorem,
            ipsum dolor sit amet consectetur adipisicing elit. Illo deserunt
            exercitationem deleniti.
          </blockquote>
          <address class=''>
            <img
              src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
              class='w-[400px]'
              alt='Hero Image'
            />
            <h6 class=''>Random User</h6>
            <p class=''>Los Angeles, CA</p>
          </address>
        </div>
      </div>

      <div class=''>
        <div class=''>
          <h5 class=''>
            Testimonial
          </h5>
          <blockquote class=''>
            Debitis, nihil sit minus suscipit magni aperiam vel tenetur incidunt
            commodi architecto numquam omnis nulla autem, necessitatibus
            blanditiis modi similique quidem. Odio aliquam culpa dicta beatae
            quod maiores ipsa minus consequatur error sunt, deleniti saepe
            aliquid quos inventore sequi. Necessitatibus id alias reiciendis,
            perferendis facere.
          </blockquote>
          <address class=''>
            <img
              src='../public/images/alvan-nee-T-0EW-SEbsE-unsplash.jpg'
              class='w-[400px]'
              alt='Hero Image'
            />
            <h6 class=''>Random User</h6>
            <p class=''>Houston, TX</p>
          </address>
        </div>
      </div>
      <button class=''>&larr;</button>
      <button class=''>&rarr;</button>
      <div class=''></div>
    </div>
  </section>

  <section class=''>
    <div class=''>
      <h3 class=''>
        The best day for your pet to find friends is today!
      </h3>
    </div>
    <button class='modal-window'>Sign Up today!</button>
  </section>
</main>