
  <main>
    <div class='nearby-owners-n-pets'>
      <ul>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
        <li><img src='' /><h3>Java</h3><h4>San Francisco, CA</h4></li>
      </ul>
    </div>
  </main>
