<main class='h-[90vh] mx-auto'>
  <div class='grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-6'>
    <div class='bg-white p-6 rounded-md shadow'>
      <img src='' alt='Pet Image' class='w-32 h-32 mx-auto rounded-full mb-4' />
      <h3 class='text-xl font-bold'>Java</h3>
      <h4 class='text-gray-500'>San Francisco, CA</h4>
    </div>

  </div>
</main>