
  <main>
    <div class=''>
      <img class='profile__face' src='' />
      <div class='divider'>Status</div>
      <div class=''>Available/Away</div>
      <div class=''>Total Likes</div>
      <div class=''>Total Comments</div>
      <a href=''>Edit Profile</a>
    </div>
    <div>
      <div class='name_n_location'>
        <h2>Emily Horseshoe</h2>
        <h3>San Diego, CA</h3>
      </div>
      <div>
        <a class=''>About</a>
        <div class=''>
          <p>email</p>
          <p>location</p>
        </div>
        <a class=''>Pets</a>
        <div class=''>
          <ul>
            <li><a href=''>Charlie</a></li>
            <li><a href=''>Choco</a></li>
            <li><a href=''>Max</a></li>
          </ul>
          <button>Add Pet</button>
        </div>
      </div>
    </div>
  </main>
