<main
  class='flex h-[90vh] w-[95%] xl:w-[60%] mx-auto pt-12 bg-white shadow-lg m-12 p-12 rounded-md'
>
  <div class='flex flex-col mb-6 pr-24'>
    <img
      class='w-96 h-96 rounded-full'
      src='../public/images/profile-placeholder.jpg'
      alt='Profile Image'
    />
    <div class='mb-12'>
      <p class=''>Your likes</p>
      <div class='w-50 border-t-2'></div>
      <div class='flex flex-col'>
        <div class=''>
          <ul class=''>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='mb-12'>
      <p class=''>Liked you</p>
      <div class='w-50 border-t-2'></div>
      <div class='flex flex-col'>
        <div class=''>
          <ul class=''>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
            <li class=''><a href=''><img
                  class='w-16 h-16'
                  src='../public/images/Paw_Print.svg'
                /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='flex flex-col mb-6'>
    <div class='flex flex-col h-[30vh] pb-12'>
      <p class='text-[5rem]'>Mike Pai
        <span class='text-[2rem]'>San Diego, CA</span></p>
      <p class='text-[1.5rem]'>Pronouns: They/Them </p>
      <div class='flex mt-48 gap-12'>
        <button>Send Message</button>
        <button>Report User</button>
      </div>
    </div>
    <div class='flex border-b-2'>
      <button class='text-4xl self-start btn mr-6'>About</button>
      <button class='text-4xl self-start btn mr-6'>Pets</button>
    </div>
    <div class='flex flex-col gap-6 mt-6 text-gray-600'>
      <ul class=''>
        <li class='mb-6'>
          <p class='text-2xl'>Phone: 123-456-7890 </p>
        </li>
        <li class='mb-6'>
          <p class='text-2xl'>Email: emily@example.com</p>
        </li>
        <li class='mb-6'>
          <p class='text-2xl'>Twitter: @example</p>
        </li>
        <li class='mb-6'>
          <p class='text-2xl'>Facebook: @example</p>
        </li>
        <li class='mb-6'>
          <p class='text-2xl'>Instagram: @example</p>
        </li>
      </ul>
    </div>
    <div class='mb-6'>
      <div class='hidden flex flex-col'>
        <ul class='list-disc list-inside pt-6 pb-12'>
          <li><a href=''>Charlie</a></li>
          <li><a href=''>Choco</a></li>
          <li><a href=''>Max</a></li>
        </ul>
        <button
          class='grow-0 bg-red-500 text-white px-4 py-2 rounded-full mt-2'
        >Add Pet</button>
      </div>
    </div>
  </div>
</main>